body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 812px;
  background: #F9DFB9;
  font-family: Poppins;
  font-style: normal;
}
.conexao{
  color: #6C6C6C;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
#profile{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 5px 10px;
  gap: 10px;
  width: 70px;
  height: 60px;
  filter: drop-shadow(1px 1px 3px rgba(179, 121, 225, 0.25));
}

#divBusca{
  align-items:center;
  background-color: #F2F2F2;
  border:solid 1px;
  border-radius:15px;
  width: 343px;
  height: 48px;
  display: flex;
  border:none;
  order: 1;
  flex-grow: 0;
  box-shadow: 0px 1px 5px #B1B1B1;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content:space-between;
}

#txtBusca{
  width: 311px;
  height: 24px;
  left: 16px;
  top: 12px;
  background-color:transparent;
  padding-left:5px;
  font-family: Poppins;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
  float: inline-start;
}

.btnBusca{
  padding: 3px;
  width: 311px;
  height: 24px;
  left: 16px;
  top: 12px;
  flex: auto;
  float: left;
}

.btnFiltro{
  padding: 3px;
  width: 311px;
  height: 24px;
  left: 16px;
  top: 12px;
  flex: auto;
  float: right;
}


  .ilhas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 16px 45px;
  gap: 16px;
  width: 375px;
  height: 546px;
  left: 0px;
  top: 198px;
  background: #F2F2F2;
  box-shadow: 0px 1px 5px #B1B1B1;
  border-radius: 20px 20px 0px 0px;
  font-family: Poppins;
  }
  
  .ilhastxt{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 10px;
  width: 343px;
  height: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
}
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
   position:absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 25px;
    line-height: 250px;
    width: 40px;
    color: #FF6961;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 100%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 100%, black 200%);
  }
  
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    width: 375px;
    height: 546px;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .item {
    width: 350px;
    height: 450px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0;
  }
  
  .current-item {
    width: 350px;
    height: 450px;
    opacity: 1;
  }
  
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  .gallery-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 74px;
    width: 375px;
    height: 68px;
    background: #F2F2F2;
    }
    .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 36px;
    }
    
    .home-svg{
    width: 24px;
    height: 24px;
    }
    
    .bolinha{
    width: 4px;
    height: 4px;
    background: #F2F2F2;
    }
    
    .calendario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 36px;
    }
    
    .livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 36px;
    }
    
    .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 36px;
    }


.fase{
display: flex;
width: 375px;
height: 183px;
left: 0px;
top: -2px;
justify-content:space-between;
background-color: #C5E6EA;

}
    .selecaococada{
      width: 375px;
      height: 618px;
      left: 0px;
      top: 146px;
      background: #F9DFB9;
      border-radius: 20px 20px 0px 0px;
    }
    .selecaotxt{

    }
    .receitas{

    }
    .blocoreceita{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 10px;
gap: 8px;
isolation: isolate;
width: 340px;
height: 71px;
background: #F2F2F2;
box-shadow: 0px 1px 5px #B1B1B1;
border-radius: 10px;
padding: 5px;
    }
    .imgreceitas{
width: 61px;
height: 61px;
left: 0px;
top: 0px;
border-radius: 10px;
    }