* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .favoritas, 
  .recomendacao {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  .gallery-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  