* {
    box-sizing: border-box;
}

:root {
    --preto: #192C45;
    --branco: #F2F2F2;
    --cinza-medio: #B1B1B1;
    --vermelho: #FF6961;
    --sombra-vermelho: #ED5951;
    --azul-menta: #60C6CF;
    --azul-menta-sombra: #23ADBF;
}

/*aqui a margin:auto deixa o conteúdo centralizado*/
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 812px;
    background: var(--branco);
    font-family: Poppins;
    font-style: normal;
    color: var(--preto);
    /*cor mais usada, n precisa add dps*/
    transition: background-color 500ms ease-in-out;
}

/*tira a margem automatica dos textos, n precisa mudar dps*/
p,
h1,
h2,
h3,
a {
    margin: 0;
}

/*titulão*/
h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
}

/*titulo*/
h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

/*sub titulo*/
h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

/*texto*/
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

/*menu*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    gap: 74px;
    position: relative;
    width: 375px;
    height: 68px;
    background: var(--branco);
}

.menu a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 36px;
}

/*botões, usados para qualquer uma das telas de cadastro*/
/*css do botão básico, tamanho e formato*/
.botao-g {
    width: 343px;
    height: 49px;
    padding: 16px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--branco);
    text-align: center;
}

.button:hover {
    box-shadow: none;
}

button:active {
    box-shadow: none;
}

.botao-vermelho {
    background: var(--vermelho);
    box-shadow: inset 0px -5px 0px var(--sombra-vermelho);
}

.botao-branco {
    background: var(--branco);
    border: 1px solid var(--cinza-medio);
    box-shadow: inset 0px -3px 0px var(--cinza-medio);
    color: var(--vermelho);
}

.botao-azul {
    background: var(--azul-menta);
    box-shadow: inset 0px -5px 0px var(--azul-menta-sombra);
}

/*essas classes são usadas com a tag <a> */
.link-vermelho {
    color: #FF6961 !important;
    text-decoration: none !important;
}

.link-branco {
    color: #F2F2F2;
    text-decoration: none !important;
}

/*esse é o container onde fica a figura do mascote e as duas caixas de texto embaixo, usado na pag de bem vindo e nas de conclusão de cadastro e criação de senha*/
.mascote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 343px;
    height: 354.91px;
}

.mascote-svg {
    margin: 10px;
}

.mascote-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 343px;
    text-align: center;
}

.mascote-texto-1 {
    width: 343px;
    height: 60px;
    color: #6C6C6C;
}

/*cabeçalho*/
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    height: auto;
    width: 375px;
    margin: 30px 16px 0;
    position: sticky;

}

.setinha {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 24px;
    height: 24px;
}

/*BEM VINDO*/
.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    gap: 76px;
    margin: 190px 16px 75px;
    width: 100%;
    height: 100%;
}

/*botões da pag bemvindo*/
.bv-botoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: 114px;
}


/*container da pag entrar*/
.entrar-container {
    display: flex;
    flex-direction: column;
    height: 812px;
    justify-content: space-between;
}


/*flexbox dos inputs de login*/
.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 345px;
    height: 328px;
    margin-top: 30px;
}

/*as tags de input configuram as entradas de informação do cliente*/
.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 345px;
    height: auto;
}

.input-titulo {
    width: 345px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
}


.input-box,
.input-check {
    box-sizing: border-box;
    width: 343px;
    height: auto;
    border: 1px solid #B1B1B1;
    background: none;
    border-radius: 10px;
    padding: 16px 24px;
}

/*muda a cor quando clica dentro do input*/
.input-box:focus {
    font-family: Poppins;
    color: #6C6C6C;
    border: 2px solid #6C6C6C !important;
    outline: none;
}

/*muda a cor após preencher input*/
.input-box,
select,
textarea {
    background-color: #F2F2F2;
    color: #B1B1B1;
    font-family: Poppins;
}

/*muda o texto dentro do input*/
.input-box::placeholder {
    max-width: inherit;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

/*texto de esqueceu a senha*/
.esq-senha {
    padding-left: 6px;
    text-align: start;
    color: #6C6C6C;
}

.login-botoes {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 345px;
    height: 231px;
    margin-bottom: 45px;
}

/*ou-entre é a seção de entrar pelo google ou face*/
.ou-entre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: auto;
}

.ou-entre hr {
    width: 105px;
}

.ou-entre p {
    margin: 0;
    padding: 0;
    width: 96px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

/*botões de entrar pelo google ou face*/
.botoes-redes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: 49px;
}

.botao-rede {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 24px;
    gap: 16px;
    width: 163px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #B1B1B1;
    box-shadow: inset 0px -3px 0px #B1B1B1;
    border-radius: 10px;
}

.google_svg {
    width: 18px;
    height: 18px;
}

.facebok_svg {
    width: 20px;
    height: 20px;
}

.botao-rede p {
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

.cadastre-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 343px;
    height: auto;
}

#text-pink {
    color: #FF6961;
    font-weight: 600;
}

.cadastre-se p {
    margin: 0;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

.input-check {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check-box {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1.2px solid #B1B1B1;
    border-radius: 2px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box:hover input~.checkmark {
    border: 2px solid #6C6C6C;
}

.check-box input:checked~.checkmark {
    background-color: #6C6C6C;
    border-radius: 2px;
    opacity: 1;
    border: 2px solid #6C6C6C;
}

.check-box input:checked~.checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    left: 2px;
    top: -2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-check label {
    margin: 0;
    justify-items: center;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

.criar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.ou-entre-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.privacidade-text {
    width: 343px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}

.criar-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 30px auto 45px;
    position: sticky;
}

.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    gap: 153px;
    margin: 190px 16px 45px;
    width: 100%;
    height: 100%;
}

/* pag onboarding*/

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 812px;
    text-align: center;
    overflow: hidden;
    animation: fadeInContent 1000ms ease-in-out;
    transition: nonr 500ms ease-in-out;
    transition-property: opacity, visibility;
}

.wrapper--has-fade {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeInContent {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slides-area {
    display: flex;
    transition: margin 500ms ease-in-out;
}

.slides-area__slide {
    width: 100%;
}

.botoes-card {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 343px;
    margin-bottom: 45px;
}

.button-skip {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
    padding: 12px 16px;
    gap: 10px;
    width: 73px;
    height: 48px;
    border-radius: 10px;
}

.button-next {
    width: 52px;
    height: 52px;
    margin: 0;
    border-radius: 50%;
}

.button-next--last {
    padding: 16px 24px;
    width: 116px;
    height: 52px;
    background: #FF6961;
    box-shadow: inset 0px -5px 0px #ED5951;
    border-radius: 10px;
}

.button-next--fade {
    opacity: 0.3;
    pointer-events: none;
    filter: blur(2px);
}

.paginations-area {
    pointer-events: none;
}

.paginations-area__item {
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: #E2E2E2;
    border-radius: 20px;
}

.paginations-area__item:not(:last-child) {
    margin-right: 0.25rem;
}

.paginations-area__item--current {
    width: 40px;
    background-color: #FF6961;
    animation: activeItem 500ms ease-in-out;
}

@keyframes activeItem {
    from {
        width: 20px;
        background-color: #E2E2E2;
    }

    to {
        width: 40x;
        background-color: #FF6961;
    }
}

/*HOME*/
.home-container {
    background-color: #F9DFB9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 812px;
    width: 100%;
}

.bottom-home {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    width: 375px;
    min-height: 600px;
    border-radius: 30px 30px 0 0;
    background-color: var(--branco);
    margin-top: 45px;
}

.bottom-home::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.header-connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 165px;
    height: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    height: 70%;
}

.header-top {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: 60px;
}

.header-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    width: 70px;
    height: 60px;
    filter: drop-shadow(1px 1px 3px rgba(179, 121, 225, 0.25));

}

.connect-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #8DC63F;
}

.header-search {
    align-self: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 48px;
    background: var(--branco);
    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

#home-search {
    width: 231px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    background: var(--branco);
    border: none;
    color: #6C6C6C;
}

.search-icon {
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilhas {
    margin: 0;
    padding: 0;
    border-radius: 30px 30px 0 0;
    background-color: var(--branco);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.ilhas-text {
    margin-left: 32px;
}

/*slider da home*/

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 450px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 450px;
    background: #C5E6EA;
    text-align: center;
    line-height: 300px;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

/*PERFIL - PÁGINA*/


.receita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;

    width: 249px;
    height: 136px;

    /* Branco Creme */

    background: #F2F2F2;
    /* Sombrinha cinza */

    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

.receita-img {
    flex: 1;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.receita-img img {
    border-radius: 10px;
}

.receita-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 5px;
    gap: 2px;
    width: 100%;
    height: 54px;
    margin: 0;
}

.scroll-receitas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2px 0px;
    gap: 16px;
}

.scroll-titulo {
    margin-left: 16px;
}

/*carrossel das receitas*/
#carousel {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Hide the scrollbar for MS Edge */
    scrollbar-width: none;
    /* Hide the scrollbar for Mozilla Firefox */
    margin: 0 auto 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 375px;
    padding: 2px 16px;
    height: fit-content;
}

#carousel::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch;
    /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.agendadas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0px;
    gap: 16px;
    width: 375px;
}

.receita-agendada {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px;
    gap: 8px;
    isolation: isolate;

    width: 343px;
    height: fit-content;

    /* Branco Creme */

    background: #F2F2F2;
    /* Sombrinha cinza */

    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

/*CONFIGURAÇÕES - PÁGINA*/
#config-header {
    height: 90px;
}

.config-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 92px;
    height: 90px;
}

.config-icon svg {
    margin: 16px;
}

#config-blub {
    width: 100px;
    height: 90px;
}

.config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 16px;
    gap: 30px;
}

.config {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: 40px;
}

.config-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 4px;
    width: 263px;
    height: 40px;
}

#config-sair {
    justify-content: flex-start;
}

/*RECEITA - INGREDIENTES*/
.container-receita {
    display: flex;
    width: 375px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #F9DFB9;
    font-family: Poppins;
    font-style: normal;
}

.header-receita {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 375px;
    height: auto;
    margin-top: 30px;
    margin-left: 16px;
}

.header-receita h2 {
    height: 24px;
}

.img-receita {
    width: 343px;
    height: 100px;
}

.botoes-receita {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 30px;
    width: 343px;
    height: 60px;
}

.botao-receita {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    flex: 1;
    height: 60px;
    background: #F2F2F2;
    border: none;
    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
    align-self: stretch;
    flex-grow: 1;
}

.botao-receita svg {
    width: 24px;
    height: 24px;
    color: #B1B1B1;
}

.botao-receita p {
    width: auto;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #192C45;
}

.ingredientes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    background: #F2F2F2;
    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

.ingredientes-container h2 {
    width: 310px;
    height: 24px;
    text-align: left;
}

.ingredientes-container p {
    width: 310px;
    height: 40px;
    display: flex;
    align-items: center;
}

.ingredientes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0px 0px;
    gap: 20px;
    width: 274px;
    height: 279.72px;
}

.ingd-check {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 254px;
    height: 22.34px
}

.ingd-check label {
    margin: 0;
    width: 300px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #192C45;
}

.preparo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 22.5px;
    gap: 14px;
    background: #F2F2F2;
    box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

.preparo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
    width: 90px;
    height: 60px;
}

.preparo svg {
    width: 15px;
    height: 15px;
}

.prep-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 90px;
    height: 42px;
}

.prep-text h2 {
    width: 90px;
    height: 17px;
}

.prep-text p {
    width: 90px;
    height: 17px;
}

.passos-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

.container-row {
    position: relative;
    width: 375px;
    height: 128px;
}

.svg-container {
    position: absolute;
    right: 9.5px;
    width: 375px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2E2E2;
}

.passos {
    position: absolute;
    top: 5px;
    left: 49.5px;
    display: flex;
    width: 276px;
    height: 88px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.nmr-bolinha {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 32px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 30px 25px;
    background-color: #E2E2E2;
    color: #192C45;
}

.passos-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 2px;
    gap: 5px;
}

.passos-texto p {
    width: 178px;
}

.container-row:nth-child(even) .svg-container {
    transform: scaleX(-1);
    left: 9.5px;
}

.container-row:nth-child(even) .passos {
    flex-direction: row-reverse;
}

#before-row .svg-container {
    z-index: 1;
    color: #60c6cf;
}

#first-row .nmr-bolinha {
    color: #F2F2F2;
    background-color: #192C45;
}

/*PESAR*/
.pesar-receita {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 46px;
    width: 350px;
    height: 528px;
}

.titulo-peso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 5px;
    height: 65px;
}

.titulo-peso h1 {
    text-transform: uppercase;
}

.informacao-peso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 16px;
    text-align: center;
    height: 126px;
}

.informacao-peso h1 {
    color: #FF8888;
}

.peso-atual {
    font-size: 32px;
}

.pesar-ingrediente {
    width: 245px;
    height: 245px;
    position: relative;
}

.peso-final {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 0.01em;

}

.peso-final,
.rodinha {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-option {
    margin: 20px auto;
    width: 360px;
    font-size: 18px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

/*ILHAS*/
.ilha-header{
    height: 180px;
    width: auto;
    margin: 0;
}

.ilha-receitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.blocoreceita{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    gap: 8px;
    isolation: isolate;
    width: 340px;
    height: 71px;
    background: #F2F2F2;box-shadow: 0px 1px 5px #B1B1B1;
    border-radius: 10px;
}

#picole-container, #cocada-container, #vulcao-container{
    background-color: #C5E6EA;
}

#bottom-picole{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#bottom-cocada{
    background-color: #F9DFB9;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#bottom-vulcao{
    background-color: #192C45;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
