body{
    margin: 0;
}
.preparos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 22.5px;
    gap: 14px;
    width: 343px;
    height: 84px;
    background: #F9DFB9;
    border-radius: 10px;
}

.prep{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 3px;
width: 90px;
height: 60px;
}

.prep svg{
width: 15.04px;
height: 15px;
}

.texto-botao{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 90px;
height: 42px;
}

.a{
    width: 90px;
    height: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #192C45;
    margin: 0;
}

.b{
    width: 90px;
    height: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #192C45;
    margin: 0;
}

.botao-iniciar{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;
width: 345px;
height: 52px;
background: #60C6CF;
border-radius: 10px;
border: 0;
}

.botao-iniciar p{
width: 297px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;
letter-spacing: 0.01em;
color: #F2F2F2;
}

.menu{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px;
gap: 74px;
width: 375px;
height: 68px;
background: #F2F2F2;
}
.home{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 56px;
height: 36px;
}

.home-svg{
width: 24px;
height: 24px;
}

.bolinha{
width: 4px;
height: 4px;
background: #F2F2F2;
}

.calendario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 56px;
height: 36px;
}

.livro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 56px;
height: 36px;
}

.user{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 56px;
height: 36px;
}